<!-- albumsTable.html -->
<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th class="col-album-title" ng-click="sortField = 'name'; reverse = !reverse">
        <span class="track-title-header">Title</span>
      </th>
      <th class="col-album-artist" ng-click="sortField = 'artist.name'; reverse = !reverse">Artist</th>
    </tr>
  </thead>
  <tbody vs-repeat vs-scroll-parent=".main-content" vs-excess="40">
    <tr ng-repeat="album in albums | orderBy:sortField:reverse">
      <td>

        <div class="coverart-wrapper">
          <img class="coverart-thumb" ng-src="{{album.coverArtUrl}}" ng-if="album.coverArtUrl" fade-in />
          <div class="coverart-thumb" ng-if="!album.coverArtUrl">
            <span class="glyphicon glyphicon-cd"></span>
          </div>
          <div class="overlay overlay-thumb">
            <a href class="play-image play-image-thumb glyphicon glyphicon-play" ng-click="playAlbum(album)"></a>
          </div>
        </div>

        <a ui-sref="album-detail({ id: album.id })" class="track-text track-title">
          {{album.name}}
        </a>
        <album-action-menu album="album" playlists="playlists" on-change="onChange()"></album-action-menu>
      </td>
      <td>
        <a ui-sref="artist-detail({ id: album.artist.id })" class="track-text">
          {{album.artist.name}}
        </a>
      </td>
    </tr>
  </tbody>
</table>

