<!-- albumDetail.html -->
<div class="jumbotron" ng-class="{'fade-start': !doneLoading, 'fade-in': doneLoading}">
  <div class="container-fluid">

    <div class="row album-info">
      <div class="col-md-4 album-cover">
        <img class="coverart-medium img-responsive" ng-src="{{album.coverArtUrl}}"  fade-in />
      </div>

      <div class="col-md-8 album-detail">
        <h1>{{album.name}}<br>
          <small><a ui-sref="artist-detail({ id: album.artist.id })">{{album.artist.name}}</a></small>
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">

        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th class="col-track-number" ng-click="sortField = 'number'; reverse = !reverse">#</th>
              <th class="col-track-title" ng-click="sortField = 'name'; reverse = !reverse">Title</th>
              <th class="col-track-artist" ng-if="variousArtists" ng-click="sortField = 'artist.name'; reverse = !reverse">Artist</th>
              <th class="col-track-length" ng-click="sortField = 'length'; reverse = !reverse">
                <span class="glyphicon glyphicon-time"></span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="track in tracks | orderBy:sortField:reverse">
              <td>
               {{track.number}}
              </td>
              <td>
                <span class="track-title track-text">{{track.name}}</span>
                <track-action-menu track="track" playlists="playlists" class="action-menu" track="track"></track-action-menu>
              </td>
              <td ng-if="variousArtists">
                <a ui-sref="artist-detail({ id: track.artist.id})" class="track-text">
                  {{track.artist.name}}
                </a>
              <td class="track-length">
                {{track.length | duration}}
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>

  </div>
</div>
