<!-- albumActionMenu.html -->
<div class="btn-group action-menu" dropdown>
  <button class="dropdown-toggle" dropdown-toggle>
    <span class="glyphicon glyphicon-th-list"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right">
    <li>
      <a href ng-click="editAlbum(album)">
        Edit
      </a>
    </li>
    <li>
      <a href ng-click="addAlbumToQueue(album)">
        Add to Queue
      </a>
    </li>
    <li ng-if="playlists.length">
      <a href ng-click="selectPlaylist(album)">
        Add to Playlist
      </a>
    </li>
    <li>
      <a download ng-href="{{album.downloadUrl}}">
        Download
      </a>
    </li>
  </ul>
</div>
