<!-- albums.html -->
<div class="jumbotron" ng-class="{'fade-start': !doneLoading, 'fade-in': doneLoading}">
  <div class="container">

    <div ng-if="albums.length" ng-cloak>

      Search: <input ng-model="albumQuery" ng-minlength="3">

      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th class="col-album-title" ng-click="sortField = 'name'; reverse = !reverse">
              <span class="track-title-header">Title</span>
            </th>
            <th class="col-album-artist" ng-click="sortField = 'artist.name'; reverse = !reverse">Artist</th>
          </tr>
        </thead>
        <tbody vs-repeat vs-scroll-parent=".main-content" vs-excess="40">
          <tr ng-repeat="album in albums | filter:albumQuery | orderBy:sortField:reverse">
            <td>
              <img class="coverart-thumb" ng-src="{{album.coverArtUrl}}" fade-in />
              <a ui-sref="album-detail({ id: album.id })" class="track-text track-title">
                {{album.name}}
              </a>
              <album-action-menu class="action-menu"></album-action-menu>
            </td>
            <td>
              <a ui-sref="artist-detail({ id: album.artist.id })" class="track-text">
                {{album.artist.name}}
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="text-center" ng-if="albums.length == 0" ng-cloak>
      <span class="glyphicon glyphicon-headphones" style="font-size: 200px"></span>
      <h3>No albums found</h3>
    </div>

  </div>
</div>

<!-- show this while data is being fetched from server -->
<span spinner-key="spinner-loading" us-spinner="{radius:40, length: 20, width: 8, lines: 13}"></span>
