<!-- artistDetail.html -->
<div class="jumbotron" ng-class="{'fade-start': !doneLoading, 'fade-in': doneLoading}">
	<div class="container">

		<h1>{{artist.name}}</h1>

		<div ng-if="albums.length" ng-cloak>

			<h2>Albums</h2>

			<div ng-if="albums.length" ng-cloak>
				<table class="table table-condensed table-hover">
					<thead>
						<tr>
							<th class="col-track-album" ng-click="sortField = 'name'; reverse = !reverse">
								<span class="track-title-header">Title</span>
							</th>
							<th class="col-track-year" ng-click="sortField = 'year'; reverse = !reverse">Year</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="album in albums | orderBy:sortField:reverse">
							<td>
								<img class="coverart-thumb" ng-src="{{album.coverArtUrl}}" fade-in />
								<a ui-sref="album-detail({ id: album.id })" class="track-title track-text">
									{{album.name}}
								</a>
								<album-action-menu album="album" playlists="playlists"></album-action-menu>
							</td>
							<td>
								{{album.year}}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div>
			<a ui-sref="artist-tracks({ id: artist.id })">
				All tracks
			</a>
		</div>

	</div>
</div>
