<!-- BEGIN: audio-player-controls -->
<div id="player-controls">

  <div id="wrapper-left">
    <div id="player-wrapper-left">
      <!-- <track-info></track-info> -->
      <div class="now-playing" ng-show="currentTrack">
        <b>Now Playing:</b>
        <img class="coverart-thumb" ng-src="{{currentTrack.coverArtUrl}}" />
        <a ng-href="#/artist/{{currentTrack.artist.id}}" class="thumb">
          {{currentTrack.artist.name}}
        </a> - {{currentTrack.name}}
      </div>
    </div>
  </div>

  <!-- <track-buttons></track-buttons>  -->
  <div class="player-deck">
    <button ng-disabled="!hasPrevious()" class="btn btn-default prev" ng-click="previous()">
      <span class="glyphicon glyphicon-step-backward"></span>
    </button>

    <button class="btn btn-default playpause" ng-click="playOrPause()" ng-class="{paused: audio.paused}" ng-disabled="!audio.src">
      <span class="play-text glyphicon glyphicon-play"></span>
      <span class="pause-text glyphicon glyphicon-pause"></span>
    </button>

    <button ng-disabled="!hasNext()" class="btn btn-default next" ng-click="next()">
      <span class="glyphicon glyphicon-step-forward"></span>
    </button>
  </div>

  <div id="wrapper-right">
    <!-- <time-slider></time-slider> -->
    <div class="time" ng-show="currentTrack">
      <span class="current-time" ng-model="currentTime">
        {{( currentTime ? currentTime : 0 ) | duration:'seconds'}}
      </span>
      <!-- <span class="duration" ng-model="duration" > -->
      <span class="duration" ng-model="currentTrack.length"> <!-- ng-model-options=" { getterSetter: true }"-->
        {{ ( currentTrack ? currentTrack.length : 0 ) | duration }}
      </span>

      <timeslider id="range-slider" class="time-range" floor="0" ceiling="100" step="0.1" precision="1" highlight="left" ng-model="currentPercentage"></timeslider>
    </div>

    <!-- <volume-slider></volume-slider> -->
    <div class="volume" ng-show="currentTrack">
      <span id="volume-icon-low" class="glyphicon glyphicon-volume-down"></span>
      <span id="volume-icon-high" class="glyphicon glyphicon-volume-up"></span>
      <input class="volume-slider" min="0" max="1" step="0.01" type="range" ng-model="audioVolume.volume" ng-model-options="{ getterSetter: true }" />
    </div>
  </div>
</div>
<!-- END: audio-player-controls -->
