<!-- authentication.html -->
<div class="jumbotron authentication" ng-class="{'fade-start': !doneLoading, 'fade-in': doneLoading}">

  <div class="col-xs-12">
    <div uib-alert class="alert alert-danger" ng-hide="!authFailed">Invalid credentials. Please try again</div>
  </div>

  <form id="authenticationForm" class="form-horizontal" name="authenticationForm" novalidate>
    <h2>Enter Credentials</h2>

    <label class="control-label" for="username">Username</label>
    <input ng-model="username" name="username" placeholder="username" type="text" size="10" class="form-control" required/>

    <label class="control-label" for="password">Password</label>
    <input ng-model="password" name="password" placeholder="password" type="password" size="10" class="form-control" required/>
    <div id="login-btn">
      <button class="btn btn-lg btn-primary btn-block" ng-disabled="authenticationForm.$invalid" ng-click="login(username, password)">Login</button>
    </div>
  </form>

</div>
