<!-- editTrack.html -->
<form id="editTrackForm" name="editTrackForm" novalidate>
  <div class="modal-header">
    <h3 class="modal-title">Edit Track Info</h3>
  </div>

  <div class="modal-body">
    <table class="track-edit-table">
      <tbody>
        <tr>
          <td>
            <label for="name">Name</label>
            <input ng-model="track.name" name="name" type="text" size="50" class="form-control track-edit-input" empty-to-null/>
          </td>
          <td rowspan="2">
            <img ng-src="{{track.coverArtUrl}}" class="track-edit-image" />
          </td>
        </tr>
        <tr>
          <td>
            <label for="artist">Artist</label>
            <input ng-model="track.artist" name="artist" type="text" size="50" class="form-control track-edit-input" empty-to-null/>
          </td>
          <td />
        </tr>
        <tr>
          <td>
            <label for="album">Album</label>
            <input ng-model="track.album" name="album" type="text" size="50" class="form-control track-edit-input" empty-to-null/>
          </td>
          <td>
            <label for="album">Year</label>
            <input ng-model="track.year" ng-pattern="/^\d{0,4}$/" name="year" type="text" maxlength="4" min="0" max="9999" class="form-control track-edit-input" empty-to-null />
          </td>
        </tr>
        <tr>
          <td>
            <label for="genre">Genre</label>
            <input ng-model="track.genre" name="genre" type="text" size="50" class="form-control track-edit-input" empty-to-null/>
          </td>
          <td>
            <label for="album">Number</label>
            <input ng-model="track.number" ng-pattern="/^\d{0,4}$/" name="number" type="text" maxlength="4" min="0" max="9999" class="form-control track-edit-input" text-to-number empty-to-null />
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="modal-footer">
    <span class="input-group-btn">
      <button class="btn btn-default" ng-disabled="editTrackForm.$invalid || isUnchanged(track)" ng-click="save(track)">Save</button>
      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
      <button class="btn btn-default" ng-disabled="isUnchanged(track)" ng-click="reset()">Reset</button>
    </span>
  </div>
</form>
