<!-- genreTracks.html -->
<div class="jumbotron" ng-class="{'fade-start': !doneLoading, 'fade-in': doneLoading}">
  <div class="container">

    <div ng-if="tracks.length" ng-cloak>
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th class="col-track-title" ng-click="sortField = 'name'; reverse = !reverse">
              <span class="track-title-header">Title</span>
            </th>
            <th class="col-track-artist" ng-click="sortField = 'artist.name'; reverse = !reverse">Artist</th>
            <th class="col-track-album" ng-click="sortField = 'album.name'; reverse = !reverse">Album</th>
            <th class="col-track-length" ng-click="sortField = 'length'; reverse = !reverse">
              <span class="glyphicon glyphicon-time"></span>
            </th>
          </tr>
        </thead>
        <tbody vs-repeat vs-scroll-parent=".main-content" vs-excess="40">
          <tr class="track-list-item" ng-repeat="track in tracks | filter:trackQuery | orderBy:sortField:reverse">
            <td>
              <img class="coverart-thumb" ng-src="{{track.coverArtUrl}}" fade-in />
              <span class="track-title track-text">{{track.name}}</span>
              <track-action-menu track="track" playlists="playlists"></track-action-menu>
            </td>
            <td>
              <a ui-sref="artist-detail({ id: track.artist.id })" class="track-text">
                {{track.artist.name}}
              </a>
            </td>
            <td>
              <a ui-sref="album-detail({ id: track.album.id })" class="track-text">
                {{track.album.name}}
              </a>
            </td>
            <td class="track-length">
              {{track.length | duration}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="text-center"  ng-if="tracks.length == 0" ng-cloak>
      <span class="glyphicon glyphicon-headphones" style="font-size: 200px"></span>
      <h3>No tracks found</h3>
    </div>

  </div>
</div>

<!-- show this while data is being fetched from server -->
<span spinner-key="spinner-loading" us-spinner="{radius:40, length: 20, width: 8, lines: 13}"></span>
