<!-- library.html -->
<div class="page-toolbar">
  <button class="btn btn-default" ng-click="createLibraryDialog()">
    Add Library
  </button>
</div>

<div class="page-content jumbotron">
  <div class="container">

    <div ng-if="libraries.length" ng-cloak>
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th ng-click="sortField = 'path'; reverse = !reverse">Library Path</th>
            <th>Last Scanned</th>
            <th/>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="l in libraries | orderBy:sortField:reverse">
            <td>
              {{l.path}}
            </td>
            <td>
              {{ (l.lastIndexedDate ? l.lastIndexedDate : 'Never') | date : 'short' }}
            </td>
            <td>
              <button class="btn btn-default scan-library" ng-click="scanLibrary(l)">Scan Now
                <i class="glyphicon glyphicon-refresh"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="text-center" ng-if="libraries.length == 0 && doneLoading" ng-cloak>
      <span class="glyphicon glyphicon-headphones" style="font-size: 200px"></span>
      <h3>No libraries have been created yet</h3>
    </div>

  </div>
</div>
