<!-- library.html -->
<div class="jumbotron text-center">

  <h1>Libraries</h1>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th ng-click="sortOrder = 'path'; reverse = !reverse">Library Path</th>
          <th>Last Scanned</th>
          <th/>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="l in libraries | orderBy:sortOrder:reverse">
          <td>
            {{l.path}}
          </td>
          <td>
            {{ (l.lastIndexedDate ? l.lastIndexedDate : 'Never') | date : 'short' }}
          </td>
          <td>
            <button class="btn btn-default scan-library" ng-click="scanLibrary(l)">Scan Now
              <i class="glyphicon glyphicon-refresh"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <form ng-submit="createLibrary(library)">

    <legend>Create Library</legend>

    <div>
    <div class="input-group library-create-input">
      <input ng-model="library.path" required id="path" name="path" type="text" size="50" placeholder="/your/music/library" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-default">Add Library</button>
      </span>
    </div>
  </div>

  </form>

</div>
