<div ng-controller="MainCtrl">

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
        </button>
        <a href="#/dashboard" class="navbar-brand glyphicon glyphicon-headphones"></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="navbar-left version">
          Version: <span style="font-weight: bold">{{version}}</span>
        </div>
<!--
        <form class="navbar-form" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
-->
        <div class="navbar-right login-info" ngIf="user.isLoggedIn">
          <span class="login-username">
            Logged in as <span style="font-weight: bold">{{user.name}}</span>
          </span>
          <button class="btn btn-default" ng-click="logout()">Logout</button>
        </div>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <!-- sidebar -->
  <div ng-controller="LeftNavCtrl" class="column col-sm-3 col-md-2 sidebar" id="sidebar">
    <ul class="nav nav-pills nav-stacked">
      <li ng-class="{ active: isActive('/artists')}">
        <a href="#artists"><i class="fa fa-user"></i>&nbsp;Artists</a>
      </li>
      <li ng-class="{ active: isActive('/albums')}">
        <a href="#albums"><i class="fa fa-bullseye"></i>&nbsp;Albums</a>
      </li>
      <li ng-class="{ active: isActive('/tracks')}">
        <a href="#tracks"><i class="fa fa-music"></i>&nbsp;Songs</a>
      </li>
      <li ng-class="{ active: isActive('/genres')}">
        <a href="#genres"><i class="fa fa-tag"></i>&nbsp;Genres</a>
      </li>
      <li ng-class="{ active: isActive('/playlists')}">
        <a href="#playlists"><i class="fa fa-list-alt"></i>&nbsp;Playlists</a>
      </li>
      <li ng-class="{ active: isActive('/queue')}">
        <a href="#queue"><i class="fa fa-list"></i>&nbsp;Queue</a>
      </li>
      <li>
        <a href="#library"><i class="fa fa-book"></i>&nbsp;Libraries</a>
      </li>
    </ul>
  </div>
  <!-- /sidebar -->

  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <!-- this is where content will be injected -->
    <div ui-view class="main-content"></div>
  </div>

  <footer id="footer" class="navbar-fixed-bottom">
    <div class="container-fluid">
      <audio-player-controls></audio-player-controls>
    </div>
  </footer>

</div>
