<!-- playlists.html -->
<div class="jumbotron text-center">

  <div ng-show="doneLoading" ng-cloak>
    <div ng-show="playlists.length" ng-cloak>

      <h1>Playlists</h1>

      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th ng-click="sortOrder = 'name'; reverse = !reverse">Name</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="p in playlists | orderBy:sortOrder:reverse">
              <td>
                <a ng-href="#/playlist/{{p.id}}" class="thumb">
                  {{p.name}}
                </a>
                <playlist-action-menu></playlist-action-menu>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div ng-hide="playlists.length" ng-cloak>
      <span class="glyphicon glyphicon-headphones" style="font-size: 200px"></span>
      <h3>No playlists have been created yet</h3>
    </div>
  </div>

  <!-- show this while data is being fetched from server -->
  <div class="loading" ng-show="!doneLoading" ng-cloak>
    Loading...
  </div>

  <form ng-submit="createPlaylist(playlist)">
    <legend>Create Playlist</legend>

    <div class="input-group library-create-input">
      <input ng-model="playlist.name" required id="name" name="name" type="text" size="50" placeholder="Enter a name for the playst" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-default">Add Playlist</button>
      </span>
    </div>
  </form>

</div>
