<!-- playlistCreateModal.html -->
<form ng-submit="save(playlist)">
  <div class="modal-header">
    <h3 class="modal-title">Create Playlist</h3>
  </div>

  <div class="modal-body">
    <input ng-model="playlist.name" required id="name" name="name" type="text" size="50" placeholder="Enter a name for the playlist" class="form-control">
  </div>

  <div class="modal-footer">
    <button class="btn btn-default">Create</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</form>
