<!-- playlistdetail.html -->

<div class="jumbotron text-center">

  <h1>{{playlist.name}}</h1>

  <div class="table-condensed">
    <table class="table">
      <thead>
        <tr>
          <th ng-click="sortOrder = 'position'; reverse = !reverse">Position</th>
          <th>Cover</th>
          <th ng-click="sortOrder = 'track.name'; reverse = !reverse">Title</th>
          <th ng-click="sortOrder = 'track.length'; reverse = !reverse">
            <span class="glyphicon glyphicon-time"></span>
          </th>
          <th ng-click="sortOrder = 'track.artist.name'; reverse = !reverse">Artist</th>
          <th ng-click="sortOrder = 'track.album.name'; reverse = !reverse">Album</th>
        </tr>
      </thead>
      <tbody>
        <tr class="track-list-item" ng-repeat="pt in tracks| orderBy:sortOrder:reverse">
          <td>
            {{pt.position}}
          </td>
          <td>
            <img class="coverart-thumb" ng-src="{{pt.track.coverArtUrl}}"/>
          </td>
          <td>
            <a ng-href="#/track/{{pt.track.id}}" class="thumb">
              {{pt.track.name}}
            </a>
          </td>
          <td>
            {{pt.track.length | duration}}
          </td>
          <td>
            <a ng-href="#/artist/{{pt.track.artist.id}}" class="thumb">
              {{pt.track.artist.name}}
            </a>
          </td>
          <td>
            <a ng-href="#/album/{{pt.track.album.id}}" class="thumb">
              {{pt.track.album.name}}
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
