<!-- playlists.html -->
<div class="jumbotron text-center">

  <h1>Playlists</h1>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th ng-click="sortOrder = 'name'; reverse = !reverse">Playlist</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="p in playlists | orderBy:sortOrder:reverse">
          <td>
            <a ng-href="#/playlist/{{p.id}}" class="thumb">
              {{p.name}}
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


  <form ng-submit="createPlaylist(playlist)">
    <legend>Create Playlist</legend>

    <div class="input-group library-create-input">
      <input ng-model="playlist.name" required id="name" name="name" type="text" size="50" placeholder="Enter a name for the playst" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-default">Add Playlist</button>
      </span>
    </div>
  </form>

</div>
