<!-- playlistDetail.html -->
<div class="jumbotron" ng-class="{'fade-start': !doneLoading, 'fade-in': doneLoading}">
  <div class="container">

    <h2>{{playlist.name}}</h2>

    <div ng-if="tracks.length" ng-cloak>
      <table class="table table-condensed table-hover track-table">
        <thead>
          <tr>
            <th class="col-track-position">#</th>
            <th class="col-track-title">
              <span class="track-title-header">Title</span>
            </th>
            <th class="col-track-artist">Artist</th>
            <th class="col-track-album">Album</th>
            <th class="col-track-length">
              <span class="glyphicon glyphicon-time"></span>
            </th>
            <th class="col-track-button"/>
          </tr>
        </thead>
        <tbody sv-root sv-part="tracks" sv-on-sort="onTrackMoveSort($item, $partFrom, $partTo, $indexFrom, $indexTo)">
          <tr class="track-list-item" ng-repeat="pt in tracks" sv-element="{containment:'tbody'}">
            <td class="col-track-position track-position">
              {{pt.position + 1}}
            </td>
            <td class="col-track-title">
              <img class="coverart-thumb" ng-src="{{pt.track.coverArtUrl}}" fade-in />
              <span class="track-title track-text">{{pt.track.name}}</span>
            </td>
            <td class="col-track-artist">
              <a ui-sref="artist-detail({ id: pt.track.artist.id })" class="track-text">
                {{pt.track.artist.name}}
              </a>
            </td>
            <td class="col-track-album">
              <a ui-sref="album-detail({ id: pt.track.album.id })" class="track-text">
                {{pt.track.album.name}}
              </a>
            </td>
            <td class="col-track-length track-length">
              {{pt.track.length | duration}}
            </td>
            <td>
              <button class="btn btn-default queue-remove" ng-click="remove(pt, $index)">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="text-center" ng-if="tracks.length == 0" ng-cloak>
      <span class="glyphicon glyphicon-headphones" style="font-size: 200px"></span>
      <h3>Playlist has no tracks</h3>
    </div>

  </div>
</div>

<!-- show this while data is being fetched from server -->
<span spinner-key="spinner-loading" us-spinner="{radius:40, length: 20, width: 8, lines: 13}"></span>
