<!-- queue.html -->
<div class="page-toolbar">
  <button ng-disabled="tracks.length == 0" class="btn btn-default" ng-click="clearQueue()">
    Clear Queue
  </button>
</div>

<div class="page-content jumbotron" ng-class="{'fade-start': !doneLoading, 'fade-in': doneLoading}">
  <div class="container">

    <div ng-if="tracks.length" ng-cloak>
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th class="col-queue-status"/>
            <th class="col-queue-title">Title</th>
            <th class="col-queue-artist">Artist</th>
            <th class="col-queue-album">Album</th>
            <th class="col-queue-length">
              <span class="glyphicon glyphicon-time"></span>
            </th>
            <th class="col-queue-button"/>
          </tr>
        </thead>
        <tbody sv-root sv-part="tracks" sv-on-sort="onTrackMoveSort($item, $partFrom, $partTo, $indexFrom, $indexTo)">
          <tr class="track-list-item" ng-repeat="t in tracks track by $index" sv-element="{containment:'tbody'}">
            <td>
              <span ng-show="isPlaying($index)" class="glyphicon glyphicon-headphones queue-playing"></span>
            </td>
            <td>
              <img class="coverart-thumb" ng-src="{{t.coverArtUrl}}"/>
              <span class="track-text track-title">
                {{t.name}}
              </span>
            </td>
            <td>
              <a ui-sref="artist-detail({ id: t.artist.id })" class="track-text">
                {{t.artist.name}}
              </a>
            </td>
            <td>
              <a ui-sref="album-detail({ id: t.album.id })" class="track-text">
                {{t.album.name}}
              </a>
            </td>
            <td class="track-length">
              {{t.length | duration}}
            </td>
            <td>
              <button class="btn btn-default queue-remove" ng-click="remove(t, $index)">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="text-center" ng-if="tracks.length == 0" ng-cloak>
      <span class="glyphicon glyphicon-headphones" style="font-size: 200px"></span>
      <h3>No tracks found</h3>
    </div>

  </div>
</div>
