<!-- artists.html -->
<div class="jumbotron text-center">

  <h1>Tracks</h1>

  Search: <input ng-model="trackQuery">

  <div class="table-condensed">
    <table class="table">
      <thead>
        <tr>
          <th>Cover</th>
          <th ng-click="sortOrder = 'name'; reverse = !reverse">Title</th>
          <th ng-click="sortOrder = 'length'; reverse = !reverse">
            <span class="glyphicon glyphicon-time"></span>
          </th>
          <th ng-click="sortOrder = 'artist.name'; reverse = !reverse">Artist</th>
          <th ng-click="sortOrder = 'album.name'; reverse = !reverse">Album</th>
        </tr>
      </thead>
      <tbody>
        <tr class="track-list-item" ng-repeat="t in tracks | filter:trackQuery | orderBy:sortOrder:reverse">
          <td>
            <img class="coverart-thumb" ng-src="{{t.coverArtUrl}}"/>
          </td>
          <td>
            <div class="dropdown track-menu">
              <button class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-th-list"></span></button>
              <ul class="dropdown-menu">
                <li><a href dropdown-toggle ng-click="addToQueue(t.id)" class="thumb">Add to Queue</a></li>
              </ul>
            </div>
            <a ng-href="#/track/{{t.id}}" class="thumb">
              {{t.name}}
            </a>
          </td>
          <td>
            {{t.length | duration}}
          </td>
          <td>
            <a ng-href="#/artist/{{t.artist.id}}" class="thumb">
              {{t.artist.name}}
            </a>
          </td>
          <td>
            <a ng-href="#/album/{{t.album.id}}" class="thumb">
              {{t.album.name}}
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
