<!-- BEGIN: track-action-menu -->
<div class="dropdown track-menu">
  <button class="dropdown-toggle" data-toggle="dropdown">
    <span class="glyphicon glyphicon-th-list"></span>
  </button>
  <ul class="dropdown-menu">
    <li>
      <a href dropdown-toggle ng-click="editTrack(track)" class="thumb">
        Edit
      </a>
    </li>
    <li>
      <a href dropdown-toggle ng-click="addTrackToQueue(track)" class="thumb">
        Add to Queue
      </a>
    </li>
    <li ng-if="playlists.length">
      <a href dropdown-toggle ng-click="selectPlaylist(track)" class="thumb">
        Add to Playlist
      </a>
    </li>
    <li>
      <a ng-href="/api/track/download/{{track.id}}" class="thumb">
        Download
      </a>
    </li>
  </ul>
</div>
<!-- END track-action-menu -->
