<!-- trackActionMenu.html -->
<div class="btn-group action-menu" dropdown>
  <button class="dropdown-toggle" dropdown-toggle>
    <span class="glyphicon glyphicon-th-list"></span>
  </button>
  <ul class="dropdown-menu">
    <li>
      <a href ng-click="editTrack(track)" class="thumb">
        Edit
      </a>
    </li>
    <li>
      <a href ng-click="addTrackToQueue(track)" class="thumb">
        Add to Queue
      </a>
    </li>
    <li ng-if="playlists.length">
      <a href ng-click="selectPlaylist(track)" class="thumb">
        Add to Playlist
      </a>
    </li>
    <li>
      <a download ng-href="{{track.downloadUrl}}" class="thumb">
        Download
      </a>
    </li>
  </ul>
</div>
