<!-- tracksTable.html -->
<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th class="col-track-title" ng-click="sortField = 'name'; reverse = !reverse">
        <span class="track-title-header">Title</span>
      </th>
      <th class="col-track-artist" ng-click="sortField = 'artist.name'; reverse = !reverse">Artist</th>
      <th class="col-track-album" ng-click="sortField = 'album.name'; reverse = !reverse">Album</th>
      <th class="col-track-length" ng-click="sortField = 'length'; reverse = !reverse">
        <span class="glyphicon glyphicon-time"></span>
      </th>
    </tr>
  </thead>
  <tbody vs-repeat vs-scroll-parent=".main-content" vs-excess="40">
    <tr class="track-list-item" ng-repeat="track in tracks | orderBy:sortField:reverse">
      <td>
        <div class="coverart-wrapper">
          <img class="coverart-thumb img-responsive" ng-src="{{track.coverArtUrl}}" ng-if="track.coverArtUrl" fade-in />
          <div class="coverart-thumb" ng-if="!track.coverArtUrl">
            <span class="glyphicon glyphicon-cd"></span>
          </div>
          <div class="overlay overlay-thumb">
            <a href class="play-image play-image-thumb glyphicon glyphicon-play" ng-click="playTrack(track)"></a>
          </div>
        </div>
        <span class="track-title track-text">{{track.name}}</span>
        <track-action-menu track="track" playlists="playlists"></track-action-menu>
      </td>
      <td>
        <a ui-sref="artist-detail({ id: track.artist.id })" class="track-text">
          {{track.artist.name}}
        </a>
      </td>
      <td>
        <a ui-sref="album-detail({ id: track.album.id })" class="track-text">
          {{track.album.name}}
        </a>
      </td>
      <td class="track-length">
        {{track.length | duration}}
      </td>
    </tr>
  </tbody>
</table>
