<!-- tracks.html -->
<div class="jumbotron text-center">

  <div ng-show="doneLoading" ng-cloak>
    <div ng-show="tracks.length" ng-cloak>

      <h1>Tracks</h1>

      Search: <input ng-model="trackQuery">

      <div class="table-condensed">
        <table class="table">
          <thead>
            <tr>
              <th>Cover</th>
              <th ng-click="sortField = 'name'; reverse = !reverse">Title</th>
              <th ng-click="sortField = 'length'; reverse = !reverse">
                <span class="glyphicon glyphicon-time"></span>
              </th>
              <th ng-click="sortField = 'artist.name'; reverse = !reverse">Artist</th>
              <th ng-click="sortField = 'album.name'; reverse = !reverse">Album</th>
            </tr>
          </thead>
          <tbody>
            <tr class="track-list-item" ng-repeat="track in tracks | filter:trackQuery | orderBy:sortField:reverse">
              <td>
                <img class="coverart-thumb" ng-src="{{track.coverArtUrl}}"/>
              </td>
              <td>
                <a ng-href="#/track/{{track.id}}" class="thumb">
                  {{track.name}}
                </a>
                <track-action-menu></track-action-menu>
              </td>
              <td>
                {{track.length | duration}}
              </td>
              <td>
                <a ng-href="#/artist/{{track.artist.id}}" class="thumb">
                  {{track.artist.name}}
                </a>
              </td>
              <td>
                <a ng-href="#/album/{{track.album.id}}" class="thumb">
                  {{track.album.name}}
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div ng-hide="tracks.length" ng-cloak>
      <span class="glyphicon glyphicon-headphones" style="font-size: 200px"></span>
      <h3>No tracks found</h3>
    </div>

  </div>

  <!-- show this while data is being fetched from server -->
  <div class="loading" ng-show="!doneLoading" ng-cloak>
    Loading...
  </div>

</div>
