/* _variables.scss */

/*
 * Variables
 */
$bootstrap-blue: #337ab7;
$page-toolbar-color: #e5e5e5;

$cover-thumb-width: 40px;
$cover-thumb-height: 40px;

$cover-small-width: 115px;
$cover-small-height: 115px;

$coverart-medium-width: 300px;
$coverart-medium-height: 300px;

$screensize-medium: 768px;
