/* common.scss */

@import "variables";
@import "coverart";

/*
 * Bootstrap overrides
 */

.jumbotron {
  margin-bottom: 0px;
  background-color: white;
}

.table {
  table-layout: fixed;
}

.table tbody tr {
  height: $cover-thumb-height + 10px + 1px; /* cover-img + padding + border */
}

/*
 * Fade in pages
 */
.fade-start {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.fade-in {
  transition: 0.5s linear all;
}

/*
 * Page-specific toolbar
 */
.page-toolbar {
  position: fixed;
  background-color: $page-toolbar-color;
  height: 50px;
  top: 50px;
  width: 100%;
  z-index: 10;
  padding: 8px 20px;
}

.page-content {
  margin-top: 50px;
}

.action-menu {
  width: 30px;
  margin-left: 8px;
  display: block;
  float: right;
}

.track-title {
  width: 75% !important;
}

.track-text {
  display: inline-block;
  float: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.col-track-number {
  width: 20px;
}

.col-track-year {
  width: 50px;
}

.col-track-title {
  width: 40%;
}

.track-title-header {
  padding-left: 50px;
}

.col-track-length {
  text-align: right;
  width: 50px;
}

.col-track-position {
  width: 30px;
}

.track-length {
  text-align: right;
}

.col-track-artist,
.col-track-album {
  width: 30%;
}

.col-track-button {
  width: 46px;
}

/*
 * Angular styles
 */

/*
  Allow angular.js to be loaded in body, hiding cloaked elements until
  templates compile.  The !important is important given that there may be
  other selectors that are more specific or come later and might alter display.
*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/*
 * Angular-sortable-view style overrides
 */
/*
.sv-candidate {}
.sv-placeholder {}
.sv-sorting-in-progress {}
.sv-visibility-hidden {}
*/
.sv-helper {
  opacity: .9;
  background-color: white;
}

/* Remove track button */
.track-remove {
  font-size: 10px;
}
