/* common.scss */

@import "variables";

/*
 * Bootstrap overrides
 */

.jumbotron {
  margin-bottom: 0px;
  background-color: white;
}

.table {
  table-layout: fixed;
}

.table tbody tr {
  height: $cover-thumb-height + 10px + 1px; /* cover-img + padding + border */
}

/*
 * Fade in pages
 */
.fade-start {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.fade-in {
  transition: 0.5s linear all;
}

/*
 * Page-specific toolbar
 */
.page-toolbar {
  position: fixed;
  background-color: $page-toolbar-color;
  height: 50px;
  top: 50px;
  width: 100%;
  z-index: 10;
  padding: 8px 20px;
}

.page-content {
  margin-top: 50px;
}

/*
 * Angular styles for fading in cover art images
 */
.coverart-thumb.ng-hide-add,
.coverart-thumb.ng-hide-remove {
  transition: all linear 0.5s;
  display: block !important;
}

.coverart-thumb.ng-hide-add.ng-hide-add-active,
.coverart-thumb.ng-hide-remove {
  opacity: 0;
}

.coverart-thumb.ng-hide-add,
.coverart-thumb.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}

.coverart-thumb {
  width: $cover-thumb-width;
  height: $cover-thumb-height; /* NOTE: svg crops the width if aspect ratio is different */
  float: left;
  margin-right: 10px;
  background-repeat: no-repeat;
}

.coverart-thumb > span {
  padding: 1px;
  font-size: 36px;
  width: inherit;
  height: inherit;
  top: 1px;
}

.coverart-medium {
  width: $coverart-medium-width;
  height: $coverart-medium-height; /* svg crops the width if aspect ratio is different */
  background-repeat: no-repeat;
}

.coverart-medium > span {
  padding: 1px;
  font-size: 280px;
  width: inherit;
  height: inherit;
  top: 12px;
}

.overlay {
  opacity: 0;
  transition: opacity 0.25s ease;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  vertical-align: middle;
  position: absolute;
}

.overlay-medium {
  top: 0px;
  left: 0px;
  width: $coverart-medium-width;
  height: $coverart-medium-height;
}

.overlay-thumb {
  top: 0px;
  left: 0px;
  height: $cover-thumb-width;
  width: $cover-thumb-width;
}

.album-info .coverart-wrapper {
  width: $coverart-medium-width;
  height: $coverart-medium-height;
}

.coverart-wrapper {
  position: relative;
}

.coverart-wrapper:hover .overlay  {
  opacity: 1;
}

a.play-image,
a.play-image:hover,
a.play-image:visited,
a.play-image:link,
a.play-image:active {
  text-decoration: none;
  color: $bootstrap-blue;
}

.play-image-medium {
  font-size: 200px;
  height: 300px;
  width: 300px;
  line-height: inherit;
}

.play-image-thumb {
  font-size: 30px;
  width: 40px;
  height: 40px;
  top: 4px;
}

.action-menu {
  width: 30px;
  margin-left: 8px;
  display: block;
  float: right;
}

.track-title {
  width: 75% !important;
}

.track-text {
  display: inline-block;
  float: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.col-track-number {
  width: 20px;
}

.col-track-year {
  width: 50px;
}

.col-track-title {
  width: 40%;
}

.track-title-header {
  padding-left: 50px;
}

.col-track-length {
  text-align: right;
  width: 50px;
}

.col-track-position {
  width: 30px;
}

.track-length {
  text-align: right;
}

.col-track-artist,
.col-track-album {
  width: 30%;
}

.col-track-button {
  width: 46px;
}

/*
 * Angular-sortable-view style overrides
 */
/*
.sv-candidate {}
.sv-placeholder {}
.sv-sorting-in-progress {}
.sv-visibility-hidden {}
*/
.sv-helper {
  opacity: .9;
  background-color: white;
}

/* Remove track button */
.track-remove {
  font-size: 10px;
}


