/* track edit styles */

@import 'variables';

/* ng-dirty and ng-invalid appear at the same time - errors should be visible */
#editTrackForm input.ng-invalid {
  background-color: red !important;
}

#editTrackForm input.ng-dirty {
  background-color: yellow;
}

.track-edit-input {
  margin-bottom: 10px;
}

.track-edit-image {
  width: $cover-small-width;
  height: $cover-small-height; /* NOTE: svg crops the width if aspect ratio is different */
}

.track-edit-table td {
  padding-left: 25px;
  vertical-align: top;
}
